<template>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label>First Name</label>
          <input class="input" v-model="firstName" type="text" />
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label>Last Name</label>
          <input class="input" type="text" v-model="lastName" />
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label>Full Name</label>
          <p>{{ firstName + " " + lastName }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
    data() {
      return{
          firstName : "",
          lastName : ""
      }
    }

}
</script>
