<template>
  <div class="container">
    <h1>User Profile</h1>
    <p>First Name : {{ user.firstName }}</p>
    <p>Last Name : {{ user.lastName }}</p>
    <p>Age : {{ user.age }}</p>
    <p>City : {{ user.city }}</p>
    <input type="button" @click="showModal=true"  class="button is-primary  is-link"  value="Edit"/>
    <ModalForm v-if="showModal" @close="showModal=false" :user ="user" />
  </div>
</template>

<script>
  import ModalForm from '../components/ModalForm';
  export default {
      name : 'Profile',
      components: {ModalForm},
      component : {
          ModalForm
      },
      data() {
          return{
              user : {
                  firstName:"Saravanakumar",
                  lastName:"Dev",
                  age : 28,
                  city : "Mysore"
              },
              showModal : false,
          }
      }
  }
</script>