<template>
    <div  class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="field">
                    <label>First Name</label>
                    <input class="input" v-model="user.firstName" type="text" />
                </div>
                <div class="field">
                    <label>last Name</label>
                    <input class="input" v-model="user.lastName" type="text" />
                </div>
                <div class="field">
                    <label>Age</label>
                    <input class="input" v-model="user.age" type="text" />
                </div>
                <div class="field">
                    <label>City</label>
                    <input class="input" v-model="user.city" type="text" />
                </div>
                <div class="field">
                    <button class="is-primary button" @click="$emit('close')" aria-label="close">Update</button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "ModalForm",
        props : ['user'],
    }
</script>

<style scoped>

</style>